<!-- Footer Section Begin -->
{% load static %}
<footer class="footer set-bg" data-setbg="{% static 'img/footer-bg.jpg' %}">
    <div class="container">
        <div class="row">
            <div class="col-lg-4 col-md-6 col-sm-6">
                <div class="footer__widget">
                    <h6>WORKING HOURS</h6>
                    <ul>
                        <li>Monday - Friday: 05:30 am – 10:30 pm</li>
                        <li>Saturday: 5:30 am – 11:00 pm</li>
                        <li>Sunday: 5:30 am – 11:00 pm</li>
                    </ul>
                </div>
            </div>
            <div class="col-lg-4 col-md-6 col-sm-6">
                <div class="footer__about">
                    <div class="footer__logo">
                        <a href="#"><img src="{% static 'img/footer-logo.png' %}" alt="Cantata"></a>
                    </div>
                    <p>Always serve the best we have.</p>
                    <div>
                        <!--
                        <a href="https://www.facebook.com/cantatacakecoffee" target="_blank"><i class="fa fa-facebook"></i></a>
                        <a href="#"><i class="fa fa-twitter"></i></a>
                        <a href="https://www.instagram.com/cantatacoffee_/?fbclid=IwAR3zCP6iq_7_Ym1l2wqa5k7TEYxdfWR1SYPMCf08OZoMn0bAxZ0jmv6H9AE" target="_blank"><i class="fa fa-instagram"></i></a>
                        <a href="#"><i class="fa fa-youtube-play"></i></a>
                        -->
                        <div id="footericon">
                            <ul>
                                <li>
                                    <a href="https://shopee.vn/shop/55494347/" target="_blank">
                                        <img src="{% static 'img/icon/shopee.png' %}" style="width: 50px;">
                                    </a>
                                </li>
                                <li>
                                    <a href="https://shopee.vn/shop/55494347/" target="_blank">
                                        <img src="{% static 'img/icon/shopee.png' %}" style="width: 50px;">
                                    </a>
                                </li>
                                <li>
                                    <a href="https://shopee.vn/shop/55494347/" target="_blank">
                                        <img src="{% static 'img/icon/shopeefood.png' %}" style="width: 50px;">
                                    </a>
                                </li>
                                <li>
                                    <a href="https://shopee.vn/shop/55494347/" target="_blank">
                                        <img src="{% static 'img/icon/shopeefood.png' %}" style="width: 50px;">
                                    </a>
                                </li>

                            </ul>
                        </div>
                    </div>
                </div>
            </div>
            <!--
            <div class="col-lg-4 col-md-6 col-sm-6">
                <div class="footer__newslatter">
                    <h6>Subscribe</h6>
                    <p>Get latest updates and offers.</p>
                    <form action="#">
                        <input type="text" placeholder="Email">
                        <button type="submit"><i class="fa fa-send-o"></i></button>
                    </form>
                </div>
            </div> -->
            <div class="col-lg-4 col-md-6 col-sm-6">
                <div class="footer__newslatter">
                    <iframe src="https://www.facebook.com/plugins/page.php?href=https%3A%2F%2Fwww.facebook.com%2Fcantatacakecoffee%2F&tabs=timeline&width=400&height=200&small_header=false&adapt_container_width=true&hide_cover=false&show_facepile=true&appId"
                            width="500" height="200" style="border:none;overflow:hidden" scrolling="no" frameborder="0"
                            allowfullscreen="true"
                            allow="autoplay; clipboard-write; encrypted-media; picture-in-picture; web-share"></iframe>
                    <iframe src="https://www.facebook.com/plugins/share_button.php?href=https%3A%2F%2Fwww.facebook.com%2Fcantatacakecoffee&layout=button&size=small&width=76&height=20&appId"
                            width="76" height="20" style="border:none;overflow:hidden" scrolling="no" frameborder="0"
                            allowfullscreen="true"
                            allow="autoplay; clipboard-write; encrypted-media; picture-in-picture; web-share"></iframe>
                </div>
            </div>
        </div>
    </div>
    <div class="copyright">
        <div class="container">
            <div class="row">
                <div class="col-lg-7">
                    <p class="copyright__text text-white">
                        <!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->
                        &copy;<script>document.write(new Date().getFullYear());</script>
                        Cantata Coffee. All rights reserved.
                        <!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->
                    </p>
                </div>
                <!--
                  <div class="col-lg-5">
                    <div class="copyright__widget">
                    <ul>
                        <li><a href="#">Privacy Policy</a></li>
                        <li><a href="#">Terms & Conditions</a></li>
                        <li><a href="#">Site Map</a></li>
                    </ul>
                    </div>
                </div> -->
            </div>
        </div>
    </div>
</footer>
<!-- Footer Section End -->

<!-- Search Begin -->
<div class="search-model">
    <div class="h-100 d-flex align-items-center justify-content-center">
        <div class="search-close-switch">+</div>
        <form class="search-model-form">
            <input type="text" id="search-input" placeholder="Search here.....">
        </form>
    </div>
</div>
<!-- Search End -->